body {
    background-color: #FFFAFF;
}

h1 {
    font-size: 60px;
    margin-top: 5%;
}

form {
    background-color: gray; /* Fundo preto claro */
    padding: 30px;      
    padding-right: 3%;
    border: 1px solid #000000; /* Borda azul */
    border-radius: 10px;      /* Bordas arredondadas */
    width: 100%;
    max-width: 600px;         /* Largura máxima */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8); /* Sombra externa */
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;                /* Espaçamento entre os elementos */
    color: #f0f0f0;           /* Texto claro */
}

/* Estilo das labels */
form .label {
    font-weight: bold;
    color: rgb(0, 0, 0)    ; /* Azul para destaque */
    margin-bottom: 5px;
}

/* Estilo dos inputs */ 
form .input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ffffff; /* Borda azul */
    border-radius: 5px;
    background-color: #e0e0e0; /* Fundo preto interno */
    color: #000000;            /* Texto claro */
    font-size: 1rem;           /* Fonte padrão */
}

form .input::placeholder {
    color: #555; /* Placeholder em cinza */
}

/* Estilo do campo de upload de imagem */
form input[type="file"] {
    margin-top: 10px;
    font-size: 1rem;
    color: #000000; /* Texto claro */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilo do botão de envio */
form #btn {
    padding: 10px 50px;      
    font-size: 1rem;            
    background-color: green; 
    color: #f0f0f0;            /* Texto branco */
    font-weight: bold;         /* Texto em negrito */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.2s ease; /* Efeitos no botão */
}

form #btn:hover {
    background-color: rgb(3, 201, 3); /* Azul mais escuro ao passar o mouse */
    transform: scale(1.05);    /* Aumenta ligeiramente o botão */
}