body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

header {
    background-color: #333333;
}

#titulo {
    margin-top: -120%;
    margin-left: -110%;
}

#img {
    margin-left: 280%;
    margin-top: -40%;
    width: 50%;
}


form {
    background-color: #ffffff; 
    padding: 20px;
    border: 1px solid #dcdcdc; 
    border-radius: 8px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px; 
    display: flex;
    margin-left: -15%;
    flex-direction: column;
    gap: 15px; 
}


form label {
    font-size: 1rem;
    color: #333333;
    font-weight: bold;
}


form input[type="text"] {
    width: 95%;
    padding: 10px;
    border: 1px solid #dcdcdc; 
    border-radius: 5px;
    background-color: #f9f9f9; 
    color: #333333; 
    font-size: 1rem;
    transition: border-color 0.2s ease-in-out;
}

form input[type="text"]:focus {
    border-color: #888888; 
}


form input[type="submit"] {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

form input[type="submit"]:hover {
    background-color: #45a049;
}